RewriteEngine on
RewriteBase /[PATH/TO/THIS/DIR]

RewriteRule  ^(\w+)$  [/[PATH/TO/THIS/DIR]/$1/ [L,R=301]

RewriteCond  %{DOCUMENT_ROOT}/%{REQUEST_URI}  !-f
RewriteCond  %{DOCUMENT_ROOT}/%{REQUEST_URI}  !-d
RewriteCond  %{DOCUMENT_ROOT}/%{REQUEST_URI}  !-l
RewriteRule  ^.*  qoan_redirect.cgi [L]

<Files qoan_redirect.cfg>
order allow,deny
deny from all
</Files>
