# Application listing format can be:
#
#  For apps where the id string is identical to the app dir and script file:
#   application
#
#  For applications where the id string is different from the app dir or script file:
#   application = path/to/app/file (omit file extension)
#
# Application listings which do not point to a valid path will raise the error:
#   Can't open perl script "[path]": No such file or directory
# and return a 500 response to the client.

app_home = /absolute/path/to/qoan_apps
# core_home = /abs/path/to/qoan/parent
# redirect_home = /path/docroot/to/redirect/folder

# multi-app folder
application_name1 = path/to/app/script
application_name2
app_name3 = other/path


# Internal apps
qoandocs = INTERNAL
qoan = INTERNAL/qoandocs